.home {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.error {
  text-align: center;
  margin: 40px auto;
  font-size: 20px;
  color: #222;
}
.error.dark {
  text-align: center;
  margin: 40px auto;
  font-size: 20px;
  color: white;
}
